<h1>Lista de Ligas</h1>
<table class="tabla-partidos">
  <thead>
    <tr>
      <th>ID de la Liga</th>
      <th>Nombre de la Liga</th>
      <th>Fecha de inicio</th>
      <th>Fecha de termino</th>
    </tr>
  </thead>
  <tbody>
    {{#each liga}}
      <tr>
        <td>{{id_liga}}</td>
        <td>{{nom_liga}}</td>
        <td>{{fecha_inicio}}</td>
        <td>{{fecha_termino}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h1>Agregar Liga</h1>
<form action="/liga/agregar" method="POST">
  <label for="id_liga">ID de la liga:</label>
  <input type="text" id="id_liga" name="id_liga" required>
  <br>
  <label for="nom_liga">Nombre de la liga:</label>
  <input type="text" id="nom_liga" name="nom_liga" required>
  <br>
  <label for="fecha_inicio">Fecha de inicio:</label>
  <input type="text" id="fecha_inicio" name="fecha_inicio" required>
  <br>
  <label for="fecha_termino">Fecha de termino:</label>
  <input type="text" id="fecha_termino" name="fecha_termino" required>
  <br>
  <button type="submit">Agregar Liga</button>
</form>

{{#if mensaje}}
<p><strong>{{mensaje}}</strong></p>
{{/if}}

{{#if error}}
<p><strong>{{error}}</strong></p>
{{/if}}

<h1>Eliminar Liga</h1>
<form action="/liga/eliminar" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar esta liga?');">
  <label for="id_liga">ID de la Liga:</label>
  <input type="text" id="id_liga" name="id_liga" required placeholder="Ingrese el ID de la liga a eliminar">
  
  <button type="submit">Eliminar Liga</button>
</form>
